<div class="wrapper">
  <div class="container text-left">
    <div class="row">
      <div class="col-xs-12">
          <h1>Result</h1>
          <p><%=@message%></p>
          <%= link_to "New game", new_path %>
      </div>
    </div>
  </div>
</div>


