<div class="wrapper">
  <div class="container text-left">
    <h1>Result</h1>
    <div class="row">
    <div class="score">
      <div class="col-xs-12">
        <p><%=@message%></p>
        <%= link_to "New game", new_path %>
      </div>
      </div>
    </div>
  </div>
</div>
